.dark-back {
  background-color: #252931;
}

.red-back {
  background-color: #F54536;
}

.blue-back {
background-color: #3C5999;
}

.green-back {
  background-color: #00DE7E;
}

.white {
  color: white;
}

.black {
  color: black;
}

.green {
  color: #00DE7E;
}

.grey {
  color: #888;
}
